@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

:root {
    --bescuro: #345386;
    --bclaro: #4272a9;
    --dark: #0e0d26;
    --pink: #c07597;
    --verde: #0d344a;
    --vclaro: #1683a0;
    --white: #b1b1b1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--dark);
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
:target {
    scroll-margin-top: 75px;
}
a {
    text-decoration: none;
}
/*Prncipal*/
.prin {
    max-height: 80vh;
    display: flex;
    justify-content: space-around;
}
.prin .texto {
    padding: 30px 0 0 50px;
    width: 55%;
}
.prin .texto h1 {
    color: var(--pink);
    font-size: 3.5em;
    padding-bottom: 10px;
}
.prin .texto p {
    color: var(--white);
    padding-top: 13px;
}
.prin .texto div {
    position: relative;
    color: var(--white);
    margin-left: -30px;
    padding: 10px;
    margin-top: 30px;
    font-size: 13px;
    background-color: var(--verde);
    box-shadow: 0 8px 32px 0 #94eee9e7;
    backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid #ffffff2e;
}
.prin .texto div p {
    font-size: 9px;
    font-style: italic;
    color: var(--white);
}
.prin .img-lh {
    margin-top: 20px;
    margin-right: 50px;
    width: 30%;
}
.prin .img-lh img{
    height: 90%;
    border-radius: 50%;
}
.apresentacao {
    height: 150px;
    display: flex;
    background: var(--bescuro);
    justify-content: center;
    border-bottom: .5px solid var(--bclaro);
}
.apresentacao .title #titulo {
    color: var(--white);
    line-height: 150px;
    font-size: 4em;
}
video {
    width: 400px;
}
/* nav buttons */
.nav {
    display: flex;
    top: 0;
    position: sticky;
    padding-left: 20%;
    height: 70px;
    border-bottom: 2px solid var(--bclaro);
    background-color: var(--bescuro);
    z-index: 9999;
}
.nav #nav-itens a {
    display: inline-block;
    padding: 25px;
    color: var(--white);
}
.nav #nav-itens a:hover {
    color: #fff;
    transform: scale(1.05);
}
.nav #ner {
    display: none;
    text-transform: uppercase;
    color: var(--white);
}
/* menu icon */
.fa-bars {
    display: none;
    color: var(--white);
    font-size: 1.7em;
    cursor: pointer;
    line-height: 70px;
}
.fa-bars:hover {
    color: #fff;
}
/* efeito máquina de escrever*/
.apresentacao .title h1::after {
    content: '|';
    animation: pisca .6s infinite;
}
@keyframes pisca {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}
/* caixas de texto - cada assunto é dividido */
.container {
    margin: 0 auto;
    min-height: 400px;
    width: 75%;
}
.box {
    width: 95%;
    margin-top: 30px;
    background-color: var(--verde);
    color: var(--white);
    border-bottom: 2px solid var(--pink);
}
.box .box-title {
    text-transform: uppercase;
    padding: 5px 20px;
    font-size: 2.1em;
    color: #fff;
    background-color: var(--vclaro);
    border-bottom: 5px solid var(--dark);
    animation: mudaCor 3s infinite;
}
.box .box-text {
    padding: 20px;
}
.box .box-text p {
    margin-bottom: 15px;
}
#homer {
    width: 560px;
}
#ul li {
    color: #adadad;
    font-style: italic;
    margin-bottom: 10px;
    font-size: 13px;
}
footer {
    background-color: var(--pink);
    height: 70px;
    text-align: center;
    line-height: 70px;
    margin-top: 45px;
}
strong {
    color: var(--pink);
}
@keyframes mudaCor {
    0%, 100% {background-color: var(--vclaro);}
    40% {background-color: var(--bescuro)}
    75% {background-color: var(--bclaro)}
}
/* responsividade */
@media (max-width: 1100px) {
    .apresentacao .title #titulo { font-size: 3em; }
    .nav { padding-left: 12%; }
    .container { width: 90%; margin-top: 150px;}
}
@media (max-width: 760px) {
    .apresentacao { height: 250px; }
    .apresentacao .title #titulo {
        line-height: 100px;
        margin-top: 25px;
    }
    .nav { padding-left: 5%; }
    .nav a { padding-left: 5px; }
    .container { display: block; width: 85%; margin-top: 300px;}
    .box { width: 100%; }
    .prin { flex-direction: column-reverse; margin-top: 250px; }   
    .prin .texto, .prin .img-lh { width: 100%; }
    .prin .texto { text-align: center; padding: 30px; }
    .prin .img-lh img{ height: 400px; margin-left: 20%; }
    .prin .texto div { margin-left: 20px; }
}
@media (max-width: 700px) {
    body { overflow-x: hidden;}
    .fa-bars { display: block; margin-left: 20%;}
    .nav #nav-itens {
        width: 100%;
        height: 320px;
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        background-color: var(--bescuro);
        border-bottom: 2px dotted #fff;
        transform: translateX(100%);
        transition: .5s ease-in;
    }
    .nav #nav-itens a {
        padding: 15px 0 15px 30px;
    }
    .nav #nav-itens a:hover {
        background: #ffffff3b;
    }
    .nav #nav-itens.active {
        transform: translateX(0);
    }
    .apresentacao { height: 150px; }
    .apresentacao .title #titulo {
        line-height: 100px;
        font-size: 2.4em;
    }
    #nerd-img { display: none; }
    .nav { padding-left: 0; }
    .nav #ner {
        margin-left: 10px;
        width: 70%;
        display: block;
        line-height: 60px;
        font-size: 2.2em;
    }
}
@media (max-width: 590px) {
    .box .box-title { font-size: 1.7em; }
    .apresentacao .title #titulo { font-size: 2em; }
    .prin .img-lh img{ height: 320px; margin-left: 23%; }
    .container { margin-top: 340px;}
    video { width: 100%;}
    #homer {
        width: 100%;
    }
    footer {
        padding-left: 15px;
        text-align: start;
        font-size: 14px;
    }
}
@media (max-width: 400px) {
    .apresentacao .title #titulo { font-size: 1.3em; }
    .fa-bars { margin-left: 13%; }
    .nav #ner { font-size: 1.7em; line-height: 70px; }

    .prin { margin-top: 380px; }   
    .prin .img-lh img{ height: 250px; margin-left: 15%; margin-top: 20px;}
    .prin .texto h1 { font-size: 3em; }
    .prin .texto p {
        padding-top: 10px;
        font-size: 1em;
    }
    .prin .texto div { margin: 60px 0 80px 5px; }
   
}
